extends layout

block content
  h1= title
  p Welcome to <strong>#{title}</strong>
  each post in messages
    p
      p #{post.added}
      p #{post.user}
      span= ' - ' + post.text
      hr


  a(href="/new") New Post
